NEXT_PUBLIC_OIPER_SERVER_URL=http://localhost:1421
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NODE_ENV=development
GITHUB_TOKEN=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
